@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

.video-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
    padding: 20px;
}

.video-card {
    cursor: pointer;
    padding: 10px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.video-card img {
    width: 100%;
    border-radius: 10px;
}

.video-card h4 {
    font-size: 14px;
    margin: 10px 0;
}

.video-page {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
